@import url('../../../styles/variables.css');

.h1 {
  color: var(--white-color);
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 767px) {
  .h1 {
    font-size: 30px;
  }
}
