.catalog {
  padding: 53px 0px;
}
.catalog__title {
  color: rgb(68, 75, 88);
  margin-bottom: 33px;
}
.catalog__wrapper {
  display: flex;
  gap: 20px;
}

@media (max-width: 992px) {
  .catalog__wrapper {
    flex-direction: column;
  }
}
