.intro {
  padding: 100px 0px 93px 0px;
  background-color: var(--bg-color);
}

.intro__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  position: relative;
}

.intro__title {
  margin-bottom: 20px;
  max-width: 550px;
}

.intro__subtitle {
  max-width: 350px;
  margin-bottom: 40px;
}

.intro__text {
  position: absolute;
  bottom: 0;
  left: 30px;
  z-index: 0;
}

@media (max-width: 992px) {
  .intro__text {
    bottom: -50px;
  }
  .intro {
    padding: 60px 0px 60px 0px;
  }
}
